<!DOCTYPE html>
<html>
<head>

<title>Add Report</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <div class="logo">
        🏥 SmartCare Hospital ERP System
    </div>

    <div class="nav-links">

        <a href="/dashboard">Dashboard</a>

    </div>

</div>

<h1>➕ Add Medical Report</h1>

<div class="form-container">

<form action="/savereport" method="POST">

Patient Name

<input type="text"
name="patient_name"
required>

Diagnosis

<input type="text"
name="diagnosis"
required>

Prescription

<input type="text"
name="prescription"
required>

Report Date

<input type="date"
name="report_date"
required>

<input type="submit"
value="Save Report">

</form>

</div>

</body>
</html>