<!DOCTYPE html>
<html>
<head>

<title>Appointments</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>📋 All Appointments</h1>

<table>

<tr>

<th>ID</th>
<th>Patient</th>
<th>Doctor</th>
<th>Date</th>
<th>Status</th>

</tr>

{% for appointment in appointments %}

<tr>

<td>{{ appointment[0] }}</td>
<td>{{ appointment[1] }}</td>
<td>{{ appointment[2] }}</td>
<td>{{ appointment[3] }}</td>
<td>{{ appointment[4] }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>