{% extends "layout.html" %}

{% block content %}

<div class="back-container">
    <a href="javascript:history.back()" class="back-btn">⬅ Back</a>
</div>

<div class="page-title">


<h1>💳 Billing Management</h1>

<p>Manage Patient Bills</p>

</div>

<div class="grid">

<div class="card">
<h3>Generate Bill</h3>
<a href="/addbill">Open</a>
</div>

<div class="card">
<h3>View Bills</h3>
<a href="/bills">Open</a>
</div>

<div class="card">
<h3>Update Bill</h3>
<a href="/updatebill">Open</a>
</div>

</div>

{% endblock %}