{% extends "layout.html" %}

{% block content %}

<div class="back-container">
    <a href="javascript:history.back()" class="back-btn">⬅ Back</a>
</div>

<div class="page-title">


<h1>💊 Medicine Management</h1>

<p>Manage Medicine Inventory</p>

</div>

<div class="grid">

<div class="card">
<h3>Add Medicine</h3>
<a href="/addmedicine">Open</a>
</div>

<div class="card">
<h3>View Medicines</h3>
<a href="/medicines">Open</a>
</div>

<div class="card">
<h3>Search Medicine</h3>
<a href="/searchmedicine">Open</a>
</div>

<div class="card">
<h3>Update Medicine</h3>
<a href="/updatemedicine">Open</a>
</div>

<div class="card">
<h3>Delete Medicine</h3>
<a href="/deletemedicine">Open</a>
</div>

</div>

{% endblock %}