{% extends "layout.html" %}

{% block title %}
Patient Services
{% endblock %}

{% block content %}

<div class="back-container">
    <a href="javascript:history.back()" class="back-btn">⬅ Back</a>
</div>

<div class="page-title">

<h1>👨 Patient Management</h1>

<p>Manage Patient Records</p>

</div>

<div class="grid">

<div class="card">
<h3>Add Patient</h3>
<p>Register New Patient</p>
<a href="/addpatient">Open</a>
</div>

<div class="card">
<h3>View Patients</h3>
<p>Display All Patients</p>
<a href="/patients">Open</a>
</div>

<div class="card">
<h3>Search Patient</h3>
<p>Find Patient Details</p>
<a href="/searchpatient">Open</a>
</div>

<div class="card">
<h3>Update Patient</h3>
<p>Edit Patient Information</p>
<a href="/updatepatient">Open</a>
</div>

<div class="card">
<h3>Delete Patient</h3>
<p>Remove Patient Record</p>
<a href="/deletepatient">Open</a>
</div>

</div>

{% endblock %}